/**
 * Author: Sam Oliveri
 * Date: 21/01/2017
 */

/** buffer classes top **/
.buffer-top-60
{
    padding-top:60px;
}

/** Link styles **/
a.blue-link
{
    color:#006CB8;
}

/** font styles **/
.font-14
{
    font-size:14px;
}

/** twitter feed container **/
.twitter-feed-container
{
    background-image: url("../img/twitter-logo-web.jpg");
    background-size: 80% auto;
    background-position: center center;
    background-repeat: no-repeat;
    min-height:250px;
}

/** carousel adjustments **/
#tweetList .item
{
    padding:20px 50px;
    font-size:14px;
    min-height:80px;
}

.carousel-control.left, .carousel-control.right
{
    background-image: none;
}